body {
	background: #f3f3f7;
}

#slider {
	overflow: hidden;
	width: 100%;
	height: 380px;
	z-index: 10;
	position: relative;
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: auto 100%;
}

.slider, .slider-background {
	height: 380px;
	overflow: hidden;
	position: absolute;
	left: 50%;
	width: 1920px;
	margin-left: -960px;
	top: 0;
	bottom: 0;
	right: 0;
}

.slider-background ul {
	float: left;
	width: 99999px;
	height: 380px;
	display: inline;
}

.slider-background ul li {
	position: absolute;
	height: 380px;
	width: 1920px;
	left: 0;
	display: none;
}

.slider-background ul li img {
	float: left;
}

.slidenav {
	position: absolute;
	margin: auto;
	left: 0;
	right: 0;
	bottom: 10px;
	z-index: 10;
	width: 300px;
	text-align: center;
}

.slidenav a {
	width: 14px;
	height: 14px;
	background: url(../img/dot_off.png) no-repeat;
	margin: 0 8px;
	display: inline-block;
	transition: all .3s ease;
}

.slidenav a.selected {
	width: 14px;
	background: url(../img/dot_on.png) no-repeat;
}

.info_zk .shuj {
	background-size: 20px !important;
	padding-left: 30px;
	line-height: 20px;
	height: 20px;
	display: inline-block;
	color: #1f4e99;
}

.info_zk .info1 .info_amou {
	background: url(../img/cir_01.png) no-repeat;
}

.info_zk .info_amou2 {
	width: 120px;
	display: inline-block;
	vertical-align: top;
	text-align: right;
	color: #f24130;
}

.info_zk .info2 .info_coun {
	background: url(../img/cir_02.png) no-repeat;
}

.info_zk .info3 .info_inco {
	background: url(../img/cir_03.png) no-repeat;
}

.info_zk .info3 h1 {
	text-align: left;
}

.product_content {
	margin-top: 20px;
}

.product_box {
	width: 1080px;
	height: 182px;
	margin: 0 auto 20px;
	background: #fff;
	position: relative;
	/* border-top: 2px solid #4981f2 */
}

.product_box .left {
	float: left;
	width: 208px;
	height: 182px;
	background: #fbb03b;
	position: relative;
	overflow: hidden;
}

.product_box .left h1 {
	font-size: 28px;
	color: #fff;
	line-height: 36px;
	padding: 10px 0 0 20px;
}

.product_box .left .line {
	margin-left: 20px;
	vertical-align: middle;
}

.product_box .left .bg {
	position: absolute;
	bottom: 0;
	right: -10px;
	display: block;
	z-index: 9
}

.product_box .left p {
	font-size: 18px;
	color: #fff;
	line-height: 36px;
	padding: 0 0 0 20px;
	position: relative;
	z-index: 10
}

.product_box .left a {
	font-size: 18px;
	color: #fff;
	border-radius: 2px;
	border: 1px solid #fff;
	text-align: center;
	display: block;
	height: 38px;
	line-height: 38px;
	margin: 180px 20px 0 20px;
	z-index: 10;
	position: relative;
	transition: all .2s ease;
}

.product_box .left a:hover{
	color: #fff;
	background:#f5a300;
}

.product_box .right {
	float: left;
	width: 820px;
	padding: 10px 20px 0;
}

.product_box i.icon {
	color: #fbb03b;
	font-size: 20px;
	vertical-align: middle;
	margin-right: 7px;
}

.product_box .right .right_line>div {
	display: inline-block;
	vertical-align: top;
}

.product_box .right .profit {
	width: 300px;
	text-align: left;
	font-size: 18px;
	color: #323232;
	padding-left: 20px;
}

.product_box .right .term {
	font-size: 14px;
	width: 354px;
	padding-top: 10px;
}

.product_box .right .term .span1 {
	color: #777676;
	/* float: left; */
}

.product_box .right .term .font_sizeD {
	font-size: 36px;
}

.product_box .right .term .font_sizeR {
	font-size: 24px;
}

.product_box .right .term .set_img01 {
	padding-left: 20px;
	height: 24px;
	line-height: 24px;
	display: inline-block;
	vertical-align: top;
	padding-top: 20px;
}

.product_box .right .set_img02 {
	padding-left: 32px;
	height: 24px;
	line-height: 24px;
	display: inline-block;
	vertical-align: top;
	padding-top: 20px
}

.product_box .right .term .span2 {
	color: #f24130;
	font-size: 20px;
	padding-left: 20px;
	/* float: right; */
}

.product_box .right .right_day {
	font-size: 36px;
	padding-left: 6px;
}

.product_box .right .day {
	padding-left: 36px;
	font-size: 14px;
	width: 200px;
	padding-top: 12px;
}

.product_box .right .day .span1 {
	color: #777676;
	/* float: left; */
}

.product_box .right .day .span2 {
	/*     color:#f24130; */
	font-size: 20px;
	/* float: right; */
}

.product_box .right .go {
	/* margin-top: 60px; */
	/* width: 130px; */
	padding-left: 20px;
}

.all7, .all8, .all9, .all10, .all30 {
	line-height: 6px;
}

.product_box .right .go .pro_bar {
	width: 322px;
	margin-top: 0px;
}

.product_box .right .go .per_col {
	display: inline-block;
	vertical-align: top;
	font-size: 14px;
	/* height: 26px; */
	line-height: 4px;
}

.product_box .right .go_product {
	width: 160px;
	height: 40px;
	line-height: 40px;
	display: inline-block;
	vertical-align: top;
	font-size: 16px;
	margin-top: 4px;
	margin-left: 38px;
}
.product_box .product-month {
	width:300px;
	height: 366px;
	float: left;
	border-right: 1px solid #f3f3f7;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding:20px 30px;
}
.product_box .product-month .newpro_setcol{
	margin:16px 0;
}
.product_box .product-month .newpro .btn{
	width:100%;
	margin-left: 0;
	margin-top: 10px;
	height: 36px;
	line-height: 36px;
}
.product_box .product-month .pro_bar{
	float: left;
	width: 200px;
}
.product_box .product-month .per_col{
	float: right;
}
.product_box .product-season-half-year{
	width:571px;
	float: left;
}
.product_box .product-season-half-year .expected-borrow{
	margin: 20px 0;
}
.product_box .product-season-half-year .progress-bar{
	width:75%;
	float: left;
}
.product_box .progress-bar .text-gray{
	font-size:14px;
}
.product_box .progress-bar .pro_bar,
.product_box .progress-bar .per_col{
	vertical-align: middle;
}

.go .go_past:hover {
	text-decoration: underline;
}

.info_bottom {
	margin-top: 20px;
	background-color: #fff;
}

.info_bottom .info {
	display: inline-block;
	vertical-align: top;
	width: 316px;
	height: 40px;
	line-height: 40px;
	font-size: 20px;
	padding-left: 40px
}
.info_bottom .info .icon {
	color: #fbb03b;
}

.info_bottom .info i{
	font-size: 40px;
	float: left;
	margin-right:20px;
}

.info_bottom .info1, .info_bottom .info2 {
	border-right: 1px solid #d9d9d9;
}

.info_bottom_head {
	border-bottom: 1px solid #d9d9d9;
	height: 50px;
	line-height: 50px;
	font-size: 16px;
	padding: 0 10px;
	color: #323232;
}

.info_bottom_head span {
	padding: 0 8px;
	display: inline-block;
	vertical-align: top;
	text-align: center;
}

.info_bottom_head span i {
	font-size: 20px;
	color: #ffbf00;
}

.info_bottom_head .info_head1 {
	width: 100px;
}

.info_bottom_head .info_head2 {
	width: 140px;
}

.info_bottom_head .info_head3 {
	width: 270px;
}

.info_bottom_head .info_head4 {
	width: 220px;
}

.info_bottom_head .info_head5 {
	width: 220px;
}

.info_bottom_foot {
	padding: 20px 0;
}

.info img {
	float: left;
	margin-top: -5px;
	margin-right: 10px;
}

.platform_notice {
	display: inline-block;
	vertical-align: top;
	margin: 20px auto 0;
	/* width: 1160px; */
	background: #fff;
	padding: 0 20px 20px;
	/* border-top: 2px solid #307bf2; */
	font-size: 16px;
}

.platform_notice img {
	float: left;
}

.platform_notice .info {
	margin-bottom: 26px;
}

.about_zk {
	width: 1040px;
}

.info_zk {
	width: 268px;
	margin-left: 24px;
}

.about_zk a {
	line-height: 60px;
}

.about_zk p {
	text-indent: 2em;
	color: #666;
	height: 40px;
	line-height: 40px;
	float: left;
	width: 730px;
	padding-left: 20px;
}

.platform_notice h1 {
	font-size: 18px;
	line-height: 60px;
	display: inline-block;
	vertical-align: top;
	margin-right: 862px;
}

.friend_content {
	margin: 20px auto;
	width: 1040px;
	background: #fff;
	padding: 0 20px 30px;
	/* 	border-top: 2px solid #307bf2; */
	position: relative;
}

.friend_content h1 {
	font-size: 18px;
	line-height: 60px;
}

.friend_content .list {
	width: 1040px;
	padding-top: 10px;
	margin: 0 auto;
}
.friend_content .list .tempWrap{
	margin: 0 auto;
}
.friend_content .list ul {
	width: 1040px;
	margin: 0 auto;
}

.friend_content .list li {
	width: 140px;
	height: 60px;
	margin: 0 13px 10px;
	vertical-align: top;
	display: inline-block;
	position: relative;
	overflow: hidden;
	border: 1px solid #d9d9d9;
	transition: all .2s ease;
}

.friend_content .list li:hover {
	border: 1px solid #fbb03b;
}

.friend_content .list a {
	display: block;
	width: 140px;
	height: 60px;
}

.friend_content .list img {
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
}

.fri_left {
	position: absolute;
	top: 90px;
	left: 22px;
	cursor: pointer;
}

.fri_right {
	position: absolute;
	top: 90px;
	right: 22px;
	cursor: pointer;
}

.index_can {
	display: inline-block;
	vertical-align: top;
	height: 100px;
	width: 100px;
	position: relative;
	left: 74px;
}

.index_can .circle-text, .index_can .circle-info, .index_can .circle-text-half,
	.index_can .circle-info-half {
	width: 100px !important;
	line-height: 100px !important;
	position: absolute;
	text-align: center;
	display: inline-block;
	font-size: 24px !important;
}

.index_can .circle-info, .index_can .circle-info-half {
	color: #999;
}

.index_can .myStat7, .myStat8, .myStat9, .myStat10, .myStat30 {
	position: absolute;
	top: 4px;
	color: #ffbf00;
	width: 100px !important;
}

.index_can canvas {
	width: 100px !important;
	height: 100px !important;
}

.go_settop {
	margin-top: 6px !important;
}

.wrap .no_tice {
	width: 1040px;
}

.wrap .info_dis {
	margin-left: 24px;
	width: 268px;
}

.info_notice {
	display: inline-block;
	vertical-align: top;
	height: 30px;
	line-height: 30px;
	font-size: 16px;
	padding: 10px 20px;
	background: #fff;
}

.no_tice img {
	float: left;
}

.no_tice .info_tit {
	float: left;
	padding: 0 90px 0 20px;
	border-right: 1px solid #d9d9d9;
}

.info_dis img {
	padding-top: 3px;
}

.info_dis .info_tit {
	padding: 0 44px 0 2px;
	color: #1f4e99;
}

.txtScroll-top {
	width: 736px;
	height: 30px;
	line-height: 30px;
	float: left;
	padding-left: 40px;
}

.txtScroll-top .bd ul {
	zoom: 1;
}

.txtScroll-top .bd li {
	height: 30px;
	line-height: 30px;
}

.txtScroll-top .bd li a {
	width: 620px;
	display: inline-block;
	vertical-align: top;
}

.txtScroll-top .bd li a:hover{
	color: #fbb03b;
}

.wrap .star_proinfo {
	height: 162px;
	background: #fff;
	padding: 20px 20px 0;
}

.newpro .profit {
	display: block;
	font-size: 18px;
	color: #323232;
	cursor: pointer;
}

.newpro .profit:hover {
	color: #fbb03b;
}

.product_box .right .profit:hover {
	color: #fbb03b;
}

.newpro .newpro_setcol2 {
	padding-left: 2px;
	height: 24px;
	line-height: 24px;
	display: inline-block;
	vertical-align: top;
	padding-top: 12px;
	color: #777676;
}

.newpro .newpro_setcol3 {
	padding-left: 2px;
	height: 24px;
	line-height: 24px;
	display: inline-block;
	vertical-align: top;
	padding-top: 12px;
	color: #777676;
	margin-right: 10px;
}

.newpro .newpro_setcol {
	color: #f24130;
	width: 170px;
	display: inline-block;
	vertical-align: top;
	line-height: 40px;
	height: 40px;
}

.newpro .news_day {
	color: #323232;
	font-size: 20px;
	width: 100px;
}

.newpro .news_day i {
	font-size: 30px;
}

.newpro .newpro_setcol .newpro_i1 {
	font-size: 30px;
}

.newpro .newpro_setcol .newpro_i2 {
	font-size: 20px;
}

.newpro .btn {
	width: 114px;
	line-height: 30px;
	display: inline-block;
	margin-left: 16px;
}

.newpro .progr7, .progr8, .progr9, .progr10, .progr30 {
	/* padding-top: 24px; */
	font-size: 16px;
	/* display: none; */
}
.newpro .expected-money{
	width:60%;
	float: left;
}
.newpro .borrow-date{
	width:40%;
	float: left;
}
.star7, .star8, .star9, .star10, .star30 {
	width: 245px;
	display: inline-block;
}

.pro_bar {
	width: 218px;
	height: 4px;
	background: #ffecb2;
	display: inline-block;
	vertical-align: top;
	overflow: hidden;
}

.pro_bar .pro_bar_ing {
	width: 0;
	height: 4px;
	background: #ffbf00;
}

.set_martop {
	/* margin-top: 4px !important; */
	
}

.per_col {
	display: inline-block;
	vertical-align: top;
	font-size: 14px;
	line-height: 4px;
	color: #777676;
}

.bas_btn2 {
	color: #ffbf00;
	background: #fff;
	border: 1px solid #ffbf00;
	text-align: center;
	border-radius: 3px;
	cursor: pointer;
	/* transition: all .2s ease; */
}

.org_color {
	color: #ffbf00;
	background: #fff;
	border: 1px solid #ffbf00;
}

.inv_pro {
	margin: 20px auto 0;
	width: 1040px;
	background: #fff;
	padding: 10px 20px 30px;
	background: #fff;
}

.inv_pro h1 {
	font-size: 18px;
	line-height: 60px;
}

.con_news h1 {
	margin-top: 10px;
	margin-bottom: 10px;
	display: inline-block;
	vertical-align: top;
}

.news_list {
	font-size: 16px;
	color: #999;
	margin-top: 24px;
	display: inline-block;
	margin-left: 898px;
	vertical-align: top;
	line-height: 20px;
}

.con_news a {
	/* font-size: 18px;
	color: #999;
	margin-top: 18px;
	display: inline-block;
	margin-left: 908px; */
	
}

.con_news .news_con {
	width: 252px;
	height: 298px;
	background: #fff;
	float: left;
	overflow: hidden;
	margin-right: 24px;
}

.con_news .news_con img {
	width: 252px;
	height: 154px;
}

.con_news .news_con .news_conP1 {
	padding: 20px 10px 0;
	font-size: 16px;
	text-align: left;
	cursor: pointer;
	display: block;
	margin-left: 0;
	margin-top: 0;
}

.con_news .news_con .news_conP1:hover {
	color: #fbb03b;
}

.con_news .news_con .news_conP2 {
	padding: 10px;
	font-size: 14px;
	color: #999;
	line-height: 26px;
}

.set_bottom {
	margin-bottom: 30px;
}

.product_box .news_guide {
	background:url(/img/index_news.png) no-repeat;
	width: 196px;
	position: absolute;
	top: 0;
	right: 0;
	height: 182px;
	background-color: #fc8c1f;
	text-align: center;
	line-height: 182px;
	color: #fff;
	font-size: 30px;
}

.product_box .embargoed {
	position: absolute;
	top: 0;
	right: 195px;
}

.quick_investment {
	height: 366px;
}

.quick_investment .left {
	height: 366px;
	background: #fbb03b;
	overflow: hidden;
}

.news_margin0 {
	margin-right: 0px !important;
}

.a_hover:hover {
	border-bottom: 1px solid #999;
}
.ad-content{
	position: fixed;
	top:50%;
	left: 50%;
	margin-left:-375px;
	margin-top:-275px;
	z-index: 1045;
	width:750px;
	height:550px;
	text-shadow: 3px 3px 2px #fff;
}
.ad-content .close{
	position: absolute;
	top: 0;
	right: 0;
	z-index: 1050;
	font-size: 32px;
	line-height: 1;
	cursor: pointer;
}
.ad-content a{
	display: inline-block;
	overflow: hidden;
	max-width:100%;
}

.directional-banner{
	background: url("../img/banner-directional.jpg") top center no-repeat;
	height:180px;
}
.directional-banner .directional-info{
	padding: 20px 20px 20px 240px;
	color: #fff;
}
.directional-banner .directional-info .title{
	font-size: 20px;
	color: #fff;
	margin-bottom: 20px;
}
.directional-banner .directional-info .term{
	width:180px;
	float: left;
}
.directional-banner .directional-info .day{
	width:180px;
	float: left;
}
.directional-banner .directional-info .go{
	width:280px;
	float: left;
	margin-top: 20px;
	color: #b3b3b3;
}
.directional-banner .directional-info .num{
	font-size: 24px;
	line-height: 50px;
}
.directional-banner .directional-info .intro-text{
	color: #b3b3b3;
}
.directional-banner .directional-info .bas_btn{
	width: 160px;
	height: 40px;
	line-height: 40px;
	display: inline-block;
	vertical-align: top;
	font-size: 16px;
	margin-top: 24px;
	margin-left: 10px;
}